<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="100%" fxFlex.xs="100%">
    <mat-card-title>Edit employee</mat-card-title>
    <form [formGroup]="employeeForm" autocomplete="off" novalidate (ngSubmit)="editEmployee(employeeForm.value)"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email" id="email" required>
          <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="hasError('email', 'maxlength')">You have more than 60 characters</mat-error>
          <mat-error *ngIf="hasError('email', 'email')">Email is not valid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"
            id="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="hasError('password', 'required')">passsword is required</mat-error>
          <mat-error *ngIf="hasError('password', 'maxlength')">You have more than 60 characters
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>DNI</mat-label>
          <input matInput type="text" placeholder="Dni" formControlName="dni" id="dni" required>
          <mat-error *ngIf="hasError('dni', 'required')">Dni is required</mat-error>
          <mat-error *ngIf="hasError('dni', 'maxlength')">You have more than 9 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Name" formControlName="name" id="name" required>
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Surname</mat-label>
          <input matInput type="text" placeholder="Surname" formControlName="surname" id="surname" required>
          <mat-error *ngIf="hasError('surname', 'required')">Surname is required</mat-error>
          <mat-error *ngIf="hasError('surname', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput type="number" placeholder="Phone" formControlName="phone" id="phone" required>
          <mat-error *ngIf="hasError('phone', 'required')">Phone is required</mat-error>
          <mat-error *ngIf="hasError('phone', 'maxlength')">You have more than 9 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Job</mat-label>
          <input matInput type="text" placeholder="Job" formControlName="job" id="job" required>
          <mat-error *ngIf="hasError('job', 'required')">Job is required</mat-error>
          <mat-error *ngIf="hasError('job', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Salary</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="Salary" formControlName="salary"
            id="salary" required>
          <span matPrefix>€&nbsp;</span>
          <span matSuffix>.00</span>
          <mat-error *ngIf="hasError('salary', 'required')">Salary is required</mat-error>
          <mat-error *ngIf="hasError('salary', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>

        <div>
          <mat-checkbox (change)="OnChange($event)"  [checked]="isAdmin" color="primary">Is Admin</mat-checkbox>
        </div>

        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <ng-container matColumnDef="zipCode">
            <th mat-header-cell *matHeaderCellDef> Zip Code </th>
            <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
          </ng-container>
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
          </ng-container>
          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
          </ng-container>
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                <mat-icon class="mat-18">system_update</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!employeeForm.valid">Update</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>