<mat-card>
    <mat-card-title>Order details</mat-card-title>
    <form [formGroup]="orderForm" autocomplete="off" fxLayout="column wrap" fxLayoutAlign="center center"
        fxLayoutGap="10px">
        <mat-card-content>
            <fieldset>
                <mat-form-field>
                    <mat-label>Order Id</mat-label>
                    <input matInput formControlName="id" id="id" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Entry Date</mat-label>
                    <input matInput formControlName="entryDate" id="entryDate" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Assignament Date</mat-label>
                    <input matInput formControlName="assignamentDate" id="assignamentDate" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Termination Date</mat-label>
                    <input matInput formControlName="terminationDate" id="terminationDate" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <input matInput formControlName="status" id="status" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Priority</mat-label>
                    <input matInput formControlName="priority" id="priority" disabled>
                </mat-form-field>
            </fieldset>
            <fieldset>
                <legend>CUSTOMER DETAILS</legend>
                <mat-form-field>
                    <mat-label>Trade name</mat-label>
                    <input matInput formControlName="customerTradeName" id="customerTradeName" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Nif</mat-label>
                    <input matInput formControlName="customerNif" id="customerNif" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="customerEmail" id="customerEmail" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="customerPhone" id="customerPhone" disabled>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="customerAddress" id="customerAddress" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="customerZipCode" id="customerZipCode" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput formControlName="customerCity" id="customerCity" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="customerCountry" id="customerCountry" disabled>
                </mat-form-field>
            </fieldset>


            <fieldset>
                <legend>SHIPING DETAILS</legend>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="deliveryAddress" id="deliveryAddress" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Zip code</mat-label>
                    <input matInput formControlName="deliveryZipCode" id="deliveryZipCode" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput formControlName="deliveryCity" id="deliveryCity" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="deliveryCountry" id="deliveryCountry" disabled>
                </mat-form-field>
            </fieldset>

            <fieldset>
                <legend>ORDER DETAILS</legend>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="productId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
                        <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="unitPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
                    </ng-container>
                    <ng-container matColumnDef="discount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
                        <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
                </mat-paginator>
            </fieldset>

            <fieldset>
                <mat-form-field>
                    <mat-label>Subtotal</mat-label>
                    <input matInput formControlName="subTotalPrice" id="subTotalPrice" disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>IVA</mat-label>
                    <input matInput formControlName="iva" id="iva" disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Total</mat-label>
                    <input matInput formControlName="totalPrice" id="totalPrice" disabled>
                </mat-form-field>
            </fieldset>

        </mat-card-content>
    </form>
</mat-card>